<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Serene 7/css/styles.css">
    
</head>

<body>
    <div>

    <div>
        <img src="/Serene 7/images/p1.jpg" alt="person1" height="60px" width="60px"> <h4>Dr.Shrey Shah</h4>
        <h4>Expertise:</h4>
        <p>He is in diagnosing and treating mental health disorders such as depression, anxiety, bipolar disorder, and PTSD.</p>
        <h4>Experience:</h4>
        <p>With over 15 years of experience in the field, He has worked in various settings, including hospitals, private practice, and community mental health centers.</p>
        <div>
            <h4>Time Slot</h4>
            <p>11:00 Am to 1:00 Pm</p>
            <p>3:00 Pm to 6:00 Pm</p>
        </div>
    </div>
    <div>
        <h2>Description</h2>
        <p>Dr. Shrey Shah holds a Ph.D. in Clinical Psychology from Stanford University. She also completed her postdoctoral fellowship at the Mayo Clinic.he has published numerous articles in peer-reviewed journals on topics related to mental health treatment and therapy techniques.he regularly conducts workshops and seminars on mental health awareness, stress management, and effective therapy techniques.
        </p>
        <button onclick="sendEmail()">Book Now</button>
        <button onclick="window.location.href='/Serene 7/templates/serenehealth.html'">Go Back</button>
    </div>
</div>
<script>
    function sendEmail(){
        alert("Email sent successfully")
    }
</script>


</body>
</html>