<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div>
        <h1>Our list of available counsellors:</h1>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Shrey Shah</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
       
    </div>
    <div>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Johnson </h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
    </div>
    <div>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Ross Gellar</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
    </div>
    <div>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Racheal Green</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
    </div>
    <div>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Chandler M.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
    </div>
    <div>
        <img src="./p1.jpg" alt="person1">
        <h4>Dr.Joey Tribbianni</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo asperiores illo debitis? Corporis, alias repellendus? Quaerat, magnam, in aut quasi quibusdam quia, amet ratione soluta beatae deserunt adipisci ipsa itaque.</p>
        <button class="btn btn-primary" onclick="fun1()">More Info..</button>
    </div>
    <script>
        // function fun(){
        //     window.location.href = "./login.html";
        // }
        function fun1(){
            window.location.href="./couns1.html";
        }
    </script>

</body>
</html>